<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{dataFilter.name}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
            
            *{
                font-family: 'poppins', sans-serif;
                margin: 0;
                padding: 0;
            }

            body{
                background-color: #e3e7eb;
            }

            .admin *:hover {
                color: black;
            }

            @media only screen and (max-width:992px) {
                .admin {
                    margin-bottom: 18px;
                }
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand mx-5" href="/home">
            <img src="/static/image/dumbways.png" style="width: 70px"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item me-4">
                    <a class="nav-link fw-bold fs-5" href="/home">Home</a>
                </li>
                {{#if isLogin}}
                <li class="nav-item me-4">
                    <a class="nav-link fw-bold fs-5" href="/project">Add Project</a>
                </li>
                {{/if}}
                <li class="nav-item me-4">
                    <a class="nav-link fw-bold fs-5" href="/testimonials">Testimonials</a>
                </li>
                </ul>
                {{#if isLogin}}
                <form class="nav-item me-4 text-dark-emphasis admin" method="post" action="/logout">
                    <button class="nav-link fw-bold fs-5">Logout</button>
                </form>
                {{else}}
                <div class="nav-item me-4 text-dark-emphasis admin">
                    <a class="nav-link fw-bold fs-5" href="/register">Register</a>
                </div>
                <div class="nav-item me-4 text-dark-emphasis admin">
                    <a class="nav-link fw-bold fs-5" href="/login">Login</a>
                </div>
                {{/if}}
                <a href="/contact">
                    <button class="btn btn-dark fw-bold px-3 me-5">Contact Me</button>
                </a>
            </div>
            </div>
        </nav>

        <h1 class="text-center my-5">{{dataFilter.name}}</h1>

        <div class="container pb-5">
            <div class="d-flex w-100 row mb-5">
                <div class="card d-flex col-md-8">
                    <img src="/static/uploads/{{dataFilter.image}}"/>
                </div>
                <div class="col-md-4 d-flex py-5 ps-4 row">
                    <div class="card-title">
                        <p>Duration</p>
                    </div>
                    <div class="d-flex row">
                        <div class="py-2 ps-3 text-body-secondary" style="align-items: center; line-height: 30px;">
                            <i class="fa-solid fa-calendar-days fa-xl"></i>
                            <span>{{dataFilter.start_date}} - {{dataFilter.end_date}}</span>
                        </div>
                        <div class="py-2 ps-3 text-body-secondary" style="align-items: center;">
                            <i class="fa-solid fa-clock fa-xl"></i>
                            <span>1 month</span>
                        </div>
                    </div>
                    <div class="card-title mt-3">
                        <p>Technologies</p>
                    </div>
                    <div class="d-flex column">
                        {{#with dataFilter.technologies}}
                        <div class="d-flex row">
                            <div class="text-body-secondary">
                                {{#if [0]}}
                                <img src="/static/icon/Node.png" id="node" class="me-2" style="width: 30px; vertical-align: middle;"/>
                                <span>Node JS</span>
                                {{/if}}
                            </div>
                            <div class="text-body-secondary">
                                {{#if [1]}}
                                <img src="/static/icon/React.png" id="react" class="me-2" style="width: 30px; vertical-align: middle;"/>
                                <span>React JS</span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="d-flex row">
                            <div class="text-body-secondary">
                                {{#if [2]}}
                                <img src="/static/icon/Next.png" id="next" class="me-2" style="width: 30px; vertical-align: middle;"/>
                                <span>Next JS</span>
                                {{/if}}
                            </div>
                            <div class="text-body-secondary">
                                {{#if [3]}}
                                <img src="/static/icon/Typescript.png" id="type" class="me-2" style="width: 30px; vertical-align: middle;"/>
                                <span>Typescript</span>
                                {{/if}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>
            
            <p>{{dataFilter.description}}</p>

        </div>
 
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" 
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>