<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Personal Web</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
            
            *{
                font-family: 'poppins', sans-serif;
                margin: 0;
                padding: 0;
            }

            body{
                background-color: #e3e7eb;
            }

            .project-list{
                padding: 50px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #f6f6f6;
            }

            #list{
                display: flex;
                width: 80%;
            }

            @media only screen and (max-width:992px) {
                .container{
                    padding: 20px;
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }

                .card{
                    margin: 0 50px;
                }

            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand mx-5" href="/home">
            <img src="/static/image/dumbways.png" style="width: 70px"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item me-4">
                    <a class="nav-link fw-bold fs-5 active" href="/home">Home</a>
                </li>
                {{#if isLogin}}
                <li class="nav-item me-4">
                    <a class="nav-link fw-bold fs-5" href="/project">Add Project</a>
                </li>
                {{/if}}
                <li class="nav-item me-4">
                    <a class="nav-link fw-bold fs-5" href="/testimonials">Testimonials</a>
                </li>
                </ul>
                {{#if isLogin}}
                <form class="nav-item me-4" method="post" action="/logout">
                    <button class="nav-link fw-bold fs-5">Logout</button>
                </form>
                {{else}}
                <div class="nav-item me-4">
                    <a class="nav-link fw-bold fs-5" href="/register">Register</a>
                </div>
                <div class="nav-item me-4">
                    <a class="nav-link fw-bold fs-5" href="/login">Login</a>
                </div>
                {{/if}}
                <a href="/contact">
                    <button class="btn btn-dark fw-bold px-3 me-5">Contact Me</button>
                </a>
            </div>
            </div>
        </nav>

        {{#if messages.success}}
        <div class="alert alert-success" role="alert">
            <div class="container">
                {{messages.success}}
            </div>
        </div>
        {{/if}}

        <div class="container mt-5">
            <div class="card mb-3 ps-5 py-5" style="width: 100%;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title mb-5">Welcome to my Blog?</h1>
                            <p class="card-text mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <div>
                                <div class="d-flex mb-5" style="flex-direction: row;">
                                    <div class="btn btn-dark rounded-pill d-flex ms-3 me-5 px-4 text-center" style="align-items: center;">Contact</div>
                                    <div class="d-flex" style="align-items: center;">
                                        <span><label for="download">Download CV</label></span>
                                        <i class="fa-solid fa-download fa-xl" id="download"></i>
                                    </div>
                                </div>
                                <div class="d-flex my-4 mb-4" style="flex-direction: row; gap: 30px;">
                                    <i class="fa-brands fa-linkedin fa-2xl"></i>
                                    <i class="fa-brands fa-square-instagram fa-2xl"></i>
                                    <i class="fa-brands fa-square-facebook fa-2xl"></i>
                                    <i class="fa-brands fa-square-twitter fa-2xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-md-4" style="width: 18rem;">
                        <img src="/static/image/me.jpg" class="card-img-top img-fluid rounded-top" alt="">
                        <div class="card-body">
                            <h3>Fahmi Abdul Hadi</h3>
                            <p class="card-text text-center">Fullstack Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{#if data}}
        <hr class="line"/>
        <div class="project-list">
            <h1 class="text-center fw-bold my-5">MY PROJECT</h1>
            <div id="list">
                <div id="contents"class="row row-cols-1 row-cols-md-3 g-4">
            {{/if}}
                <!-- dynamic contents -->
                {{#each data}}
                    <div class="col">
                        <div class="card h-100">
                            <img src="/static/image/{{this.image}}" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/project/{{this.id}}" target="_blank">{{this.name}}</a>
                                </h5>
                                <div class="text-body-secondary">
                                    {{this.start_date}} - {{this.end_date}}
                                </div>
                                <p class="card-text">{{this.description}}</p>
                                <div id="tech" class="mb-1">
                                    {{#with technologies}}
                                    {{#if [0]}}
                                        <img src="/static/icon/Node.png" class="me-2" style="width: 30px; vertical-align: middle;"/>
                                    {{/if}}
                                    {{#if [1]}}
                                        <img src="/static/icon/React.png" class="me-2" style="width: 30px; vertical-align: middle;"/>
                                    {{/if}}
                                    {{#if [2]}}
                                        <img src="/static/icon/Next.png" class="me-2" style="width: 30px; vertical-align: middle;"/>
                                    {{/if}}
                                    {{#if [3]}}
                                        <img src="/static/icon/typescript.png" class="me-2" style="width: 30px; vertical-align: middle;"/>
                                    {{/if}}
                                    {{/with}}
                                </div>
                                {{#if ../isLogin}}
                                <div class="d-flex" style="flex-direction: row;">
                                <form style="width: 50%;" method="get" action="/update/{{this.id}}">
                                    <button class="btn btn-dark py-1 fw-bold w-100">edit</button>
                                </form>
                                <form style="width: 50%" method="post" action="/delete-project/{{this.id}}">
                                    <button class="btn btn-dark py-1 fw-bold w-100" onclick="if (!confirm('Are you sure want to delete this?')) { return false }">delete</button>
                                </form>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" 
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>